body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

#osago-main {
    width: 1024px;
    height: auto;
    margin: 0 auto;
}

#osago {
    height: auto;
    width: calc(100% - 170px);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #999;
    margin: auto 5%;
}

#vehicle-owner, #region, #vehicle-type, #GIBDD-registration, #period, #amount-of-drivers {
    float: left;
    clear: left;
}

#vehicle-registration, #city, #power, #term-of-insurance, #drivers-limit {
    float: right;
}

.osago-content {
    width: 425px;
    margin: 0 0 15px 0;
}

.osago-content-h {
    margin: 0 0 8px 0;
}

.osago-content > label {
    margin-bottom: 5px;
}

.osago-content-last {
}

.osago-content-last > label {
    margin-left: 5px;
}

#osago input {
    display: none;
}

.label-radio {
    cursor: pointer;
    display: inline-block;
}

.osago-radio {
    height: 15px;
    width: 15px;
    border: 1px solid #d4d0c9;
    border-radius: 50%;
    opacity: 1;
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    vertical-align: sub;
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

.label-radio:hover .osago-radio {
    border: 1px solid #de8650;
}

.osago-radio:after {
    content: "";
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
    display: inline-block;
    height: 1px;
    width: 1px;
    background: #de8650;
    vertical-align: middle;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 3px solid #d28759;
    border-radius: 50%;
}

.label-radio > input:checked + div:after {
    opacity: 1;
}

div#GIBDD-registration > .label-radio, #drivers-limit > .label-radio, #vehicle-owner > .label-radio, #vehicle-registration > .label-radio {
    display: block;
}

#osago select {
    height: 32px;
    z-index: 0 !important;
    width: 392px !important;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    padding: 0 !important;
    color: #555;
    background: #fff;
    -webkit-transition: border 0.5s, -webkit-box-shadow 0.5s;
    transition: border 0.5s, -webkit-box-shadow 0.5s;
    -o-transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#osago select:hover {
    border: 1px solid rgb(102, 175, 233);
    -webkit-box-shadow: 0 0 3px rgba(0,0,125,0.5);
            box-shadow: 0 0 3px rgba(0,0,125,0.5);
}

#osago-button-container {
    width: calc(100% - 100px);
}

#osago-button {
    margin: 25px auto 40px 0;
    font-size: 1.3em;
    padding: 10px 16px;
    border-radius: 2px;
    background-color: #f0ad4e;
    color: #fff;
    border: 1px solid rgb(227, 141, 19);
    cursor: pointer;
    outline: none;
    display: block;
    width: 12em;
    clear: both;
    position: relative;
    top: 10px;
}

#osago-button:active {
    background: #eb9316;
}

#error {
    color: white;
    background-color: #fb3737;
    width: calc(100% - 30px);
    border: 1px solid #fb3737;
    margin: 20px 0;
    padding: 15px;
}

@media only screen and (max-width: 850px) {
    #osago {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .osago-content {
        width: 100%;
    }

    .osago-content-last > label {
        margin-right: 20px;
    }

    #osago select {
        width: calc(100%);
    }

    #error {
        width: calc(100% - 65px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

/********************************************************************/
.osago-driver {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    /* margin-top: 20px; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    color: #999;
    z-index: 1;
    display: inline-block;
    margin: 10px auto 10px auto;
}

.osago-driver > div {
    padding: 10px 15px;
}

.osago-driver-first-content {
    height: 70px;
    display: inline-block;
    margin-right: 120px;
}

@-moz-document url-prefix() { 
  .osago-driver-first-content {
     margin-right: 118px;
  }
}

.osago-driver-first-content:last-child {
    margin-right: 0px;
    padding-right: 0px;
}

.osago-driver-content, .osago-driver-choice-content {
}

.osago-driver-h {
    font-size: 16px;
    background: #ebebeb;
}

.osago-driver-content, .osago-driver-choice-content {
    font-size: 14px;
}

.osago-driver-first-content > div:last-child {
}

.osago-driver-content-h {
    padding-top: 10px;
    padding-bottom: 10px;
}

.osago-driver label {
    cursor: pointer;
}

.osago-driver label:hover .osago-radio {
    border: 1px solid #de8650;
}

.osago-driver label > input:checked + div:after {
    opacity: 1;
}

.osago-driver input {
    display: none;
}

#osago .osago-driver select {
    height: 32px;
    width: 126px;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    outline: none;
    color: #555;
    background: #fff;
    -webkit-transition: border 0.5s, -webkit-box-shadow 0.5s;
    transition: border 0.5s, -webkit-box-shadow 0.5s;
    -o-transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.osago-driver select:hover {
    border: 1px solid rgb(102, 175, 233);
    -webkit-box-shadow: 0 0 3px rgba(0,0,125,0.5);
            box-shadow: 0 0 3px rgba(0,0,125,0.5);
}

#osago-button-driver-id1, #osago-button-driver-id2, #osago-button-driver-id3, #osago-button-driver-id4 {
    height: 32px;
    width: 125px;
    border: 1px solid #e38d13;
    background: #f0ad4e;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-left: -5px;
}

#osago-button-driver-id1:active, #osago-button-driver-id2:active, #osago-button-driver-id3:active, #osago-button-driver-id4:active {
    background: #eb9316;
}

.osago-driver-choice-content {
    padding-right: 10px;
}

.osago-driver-content > label, .osago-driver-choice-content > label {
}

.osago-driver-content > label:last-child, .osago-driver-choice-content > label:last-child {
    margin-left: 10px;
}

@media only screen and (max-width: 850px) {
    .osago-driver {
        padding-bottom: 15px;
    }

    .osago-driver-content > label:last-child, .osago-driver-choice-content > label:last-child {
        margin-left: 45px;
    }

    #osago-button-driver-id1, #osago-button-driver-id2, #osago-button-driver-id3, #osago-button-driver-id4 {
        margin-top: 15px;
        margin-left: 0px;
        height: 42px;
        width: 135px;
        border-radius: 2px;
    }
}

@media only screen and (max-width: 850px) {
    #osago-main {
        width: 100%;
    }

    #osago .osago-driver select {
        width: 100%
    }

    .osago-driver-content > div:last-child, .osago-driver-choice-content > div:last-child {
        width: 100%;
    }
}

/********************************************************************/
#osago-result {
    height: auto;
    width: calc(100% - 170px);
    /* padding: 15px; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    z-index: 1;
    margin: 0px 5%;
}

#osago-result table {
    width: 100%;
    border: none;
}
#osago-result table td, #osago-result table tr {
    border: none;
}

#osago-result td {
    padding: 8px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#osago-result tr:last-child > td {
    border: none;
}

#osago-result-h {
    font-size: 30px;
    color: rgb(51, 51, 51);
    padding: 5px 0 10px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#osago-result > button {
    margin: 25px 0 0 0;
    background: #28a4c9;
    color: #fff;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

#osago-result > button:active {
    background: #337ab7;
}

@media only screen and (max-width: 850px) {
    #osago-result {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

/********************************************************************************************************************/
#osago-modal-window, #osago-wait-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    z-index: 9998;
}

#osago-modal-content {
    height: auto;
    width: 590px;
    padding: 0px 25px 0px 15px;
    background: #fff;
    border-radius: 2px;
    position: relative;
}

#osago-modal-content-id1 {
    color: rgb(44, 44, 44);
    margin: 10px 0;
}

#osago-modal-content-id2 {
    font-weight: bold;
    margin: 10px 0;
}

#osago-modal-content-id4 {
    overflow: hidden;
    margin: 10px 0;
}

.osago-modal-content-id4-c {
    display: inline-block;
    margin-left: 22px;
}

.osago-modal-content-id4-c:first-child {
    margin-left: 0px;
}

.osago-modal-content-id4-c > div:first-child {
    font-weight: bold;
}

#osago-modal-window input {
    height: 30px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    z-index: 0 !important;
    outline: none;
    color: #555;
    background: #fff;
    padding: 0 0 0 8px !important;
    -webkit-transition: border 0.5s, -webkit-box-shadow 0.5s;
    transition: border 0.5s, -webkit-box-shadow 0.5s;
    -o-transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    display: block;
}

#osago-modal-window input:hover {
    border: 1px solid rgb(102, 175, 233);
    -webkit-box-shadow: 0 0 3px rgba(0,0,125,0.5);
            box-shadow: 0 0 3px rgba(0,0,125,0.5);
}

#osago-modal-window-button {
    width: 140px;
    margin-top: 6px;
    color: #fff;
    padding: 6px 12px;
    border: 1px solid #e38d13;
    background: #eb9316;
    cursor: pointer;
    float: left;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

#osago-modal-window-button:active {
    background: #e38d13;
}

#osago-modal-window-close {
    color: gray;
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 22px;
    cursor: pointer;
}

.osago-modal-content-id4-c {
    margin: 0px;
    margin-right: 22px;
}

.osago-modal-content-id4-c:last-child {
    margin-right: 0px;
}

#kbm-check-info-box {
    width: 101.7%;
    display: block;
    background: #ff893a;
    border-color: #ff893a;
    color: #fff;
    padding: 15px;
    margin: 0px;
    position: inherit;
    left: -15px;
}

#kbm-check-info-box h1 {
    color: #323232;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom:15px;   
    margin-top:15px;
}

.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    display: inline-block !important;
    position: relative;
    left: -120px;
}

.alert b, .alert h1 {
    font-weight: bold;
}

.alert h1 {
    font-family: 'ProximaNova', Arial;
}

#osago-wait-overlay {
    z-index: 9999;
    opacity: 1;
}

#osago-wait-overlay > #osago-wait-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    text-align: center;
}

#osago-wait-overlay > #osago-wait-img div {
    font-size: 20px;
    color: #999;
}

@media only screen and (max-width: 750px) {
    #osago-modal-content {
        height: auto;
    }

    #osago-modal-content-id4 {
        height: auto;
    }

    #osago-modal-content > div {
        margin: 0px 0 15px 0;
    }

    .osago-modal-content-id4-c > div {
        margin: 10px 0 10px 0;
    }

    .osago-modal-content-id4-c {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }

    #osago-modal-window-button {
        font-size: 1.1em;
    }
}

@media (max-width: 1300px) and (min-width:960px) {
    .osago-modal-content-id4-c {
        margin: 0px;
        margin-right: 22px;
    }

    .osago-modal-content-id4-c:last-child {
        margin-right: 0px;
    }
}

.line {
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: rgb(221, 221, 221);
    border: none;
    margin: 10px 0px;
}

.hide {
    display: none !important;
    padding: 0px !important;
}

.active {
    display: block !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}